---
layout: base.njk
---

<article class="page">
  <header class="page__header">  
	<h1>{{ title }}</h1>
    <img src="{{ image | url }}" alt="" class="page__image">
  </header>

  <main class="page__content">
    {{ content | safe }}
  </main>
</article>